<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nineteeneightd - {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/nineteeneightd.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <ul class="nav nav-pills">
        <li>
          <h1 id='logo'>
            <a href='/'>
              <span id='nine'>nine</span><span id='teen'>teen</span><span id='eight'>eight</span><span id='d'>d</span>
            </a>
          </h1>
        </li>
        <li><a href='/resume/'>resume</a></li>
        <li><a href='/projects/'>projects</a></li>
      </ul>
      {{ content }}
    </div>

  </body>
</html>
