<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nineteeneightd - {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/nineteeneightd.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container {{ page.title }}">
      <ul class="nav nav-pills">
        <li>
          <a href='/'>
            <h1>
              <span id='nine'>nine</span><span id='teen'>teen</span><span id='eight'>eight</span><span id='d'>d</span>
            </h1>
          </a>
        </li>
        <li><a href='/resume/'>résumé</a></li>
        <li><a href='/projects/'>projects</a></li>
      </ul>
      {{ content }}
    </div>

  </body>
</html>
