<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nineteeneightd - {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/nineteeneightd.css" rel="stylesheet" type='text/css' media='screen' />
    <link href="/css/print.css" rel="stylesheet" type='text/css' media='print' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container {{ page.title }}">
      {{ content }}
    </div>

  </body>
</html>
